#product__not-found {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../../images/LogoBackground.png");
    background-color: #0f0f0f;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.product__not-found-container {
    background-color: #1a1a1a;
    margin-inline: 10px;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

@media (width < 219px) {
    .product__not-found-container {
        padding: 10px;
    }
}

#product__not-found h1 i {
    font-size: 3.5ch;
    margin-bottom: 20px;
    color: #a1a1a1;
}

#product__not-found h1 {
    font-size: 2.75ch;
    font-weight: 600;
    line-height: 1;
}

@media (width < 397px) {
    #product__not-found h1 {
        font-size: 2ch;
    }
}

#product__not-found p {
    font-size: 1.5ch;
    color: #373737;
    max-width: 30ch;
    line-height: 1.1;
}

@media (width < 397px) {
    #product__not-found p {
        font-size: 1.25ch;
    }
}

#product__not-found a {
    color: inherit;
    margin-top: 20px;
    text-decoration: none;
    background-color: #141414;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

#product__not-found a:hover {
    background-color: #1d1d1d;
}

#product__not-found a:active {
    background-color: #aaaaaa;
}