.products1__content {
    max-width: 1280px;
    margin: 0 auto;
}

@media (width < 892px) {
    .products1__content {
        display: none;
    }
}

.products1__title {
    font-size: 2.5ch;
    margin-top: 100px;
    font-weight: 600;
    margin-left: 10px;
}

@media (width < 430px) {
    .products1__title {
        font-size: 2ch;
    }
}

.products1__cards-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.products1__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 80px;
    margin-inline: 10px;
}

@media (width < 1180px) {
    .products1__cards {
        gap: 10px;
    }
}

.products1__card {
    height: 260px;
    background-color: #1a1a1a;
    border: 1px solid #3c3c3c;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.products1__card:hover {
    opacity: .9;
}

.products1__card:active {
    background-color: #838383;
    border: 1px solid #c0c0c0;
}

@media (width < 600px) {
    .products1__card {
        height: 320px;
        width: 220px;
    }
}

@media (width < 430px) {
    .products1__card {
        height: 262px;
        width: 180px;
    }
}

.products1__cards-container {
    position: relative;
}

.card__content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 100%;
}

@media (width < 600px) {
    .card__content {
        padding: 5px;
    }
}

.card__image {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: #3c3c3c50;
}

@media (width < 430px) {
    .card__image {
        height: 75%;
    }
}

.card__title {
    font-size: 2ch;
    text-wrap: nowrap;
}

@media (width < 600px) {
    .card__title {
        font-size: 1.6ch;
    }
}

.card__price {
    font-size: 2ch;
    padding: 5px;
    background-color: #3c3c3c50;
    border-radius: 5px;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}

@media (width < 600px) {
    .card__price {
        font-size: 1.6ch;
    }
}

.card__price span {
    color: #414141;
    font-size: 1.2ch;
    text-decoration: line-through;
}

@media (width < 430px) {
    .card__price span {
        display: none;
    }
}