#purchase__popup {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1a1a59;
    backdrop-filter: blur(5px);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
}

#purchase__popup.active {
    opacity: 1;
    visibility: visible;
}

.purchase__popup-content {
    background-color: #1a1a1a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    margin: 10px;
    max-width: 50%;
    transform: scale(.9);
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
}

@media (width < 1131px) {
    .purchase__popup-content {
        max-width: unset;
    }
}

@media (width < 487px) {
    .purchase__popup-content {
        flex-direction: column;
        align-items: center;
    }
}

#purchase__popup.active .purchase__popup-content {
    transform: scale(1);
    opacity: 1;
}

.purchase__popup-texts {
    width: 50%;
    border-right: 1px solid #3c3c3c;
    padding-right: 15px;
}

@media (width < 487px) {
    .purchase__popup-texts {
        text-align: center;
        border-bottom: 1px solid #3c3c3c;
        border-right: none;
        padding-right: 0;
        padding-bottom: 15px;
        width: 100%;
    }
}

.purchase__popup-texts h1 {
    font-weight: 600;
    font-size: 2.5ch;
    line-height: 1;
}

.purchase__popup-texts p {
    color: #474747;
    font-weight: 400;
    line-height: 1.1;
}

.purchase__popup-texts a {
    color: #d6d6d6;
    text-decoration: underline;
    transition: .3s;
}

.purchase__popup-texts a:hover {
    color: #9c9c9c;
}

.purchase__popup-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    text-align: center;
    justify-content: space-around;
}

@media (width < 487px) {
    .purchase__popup-buttons {
        padding-left: 0;
        padding-top: 15px;
        width: 100%;
    }
}

.purchase__popup-buttons h1 {
    font-weight: 600;
    font-size: 2.5ch;
    line-height: 1;
}

.purchase__popup-buttons p {
    color: #474747;
    font-weight: 400;
    line-height: 1.1;
}

.popup__buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.purchase__popup-buttons a {
    background-color: #141414;
    border: 1px solid #252525;
    font-weight: 700;
    border-radius: 10px;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase__popup-buttons a:nth-of-type(1) {
    color: #5864f3;
}

.purchase__popup-buttons a:nth-of-type(2) {
    color: #017bfe;
}

.purchase__popup-buttons a:hover {
    border: 1px solid #76227c;
    box-shadow:
    0 2px 6px rgba(138, 43, 226, 0.45),
    0 0 18px rgba(118, 34, 124, 0.35);
}

.purchase__popup-buttons a:active {
    scale: .99;
    background-color: #76227c;
}

.purchase__popup-buttons i {
    margin-right: 10px;
}

.purchase__popup-buttons a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}