.info3 {
  min-height: 105vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-image: url(../../images/Background4.png);
}

.info3__cards {
  margin-top: 2cm;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5cm;
  max-width: 1200px;
  margin-inline: 20px;
}

.info3__card-img {
  max-height: 5cm;
}

.info3__card {
  max-width: 350px;
  background-color: #1b1b1b;
  border: 2px solid rgb(29, 29, 29);
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 10px;
}

.info3__card:hover {
  background-color: #1d1d1d;
  border: 2px solid rgb(30, 30, 30);
  scale: 1.1;
}

.info3__card-desc {
  color: #5c5c5c;
  font-family: inherit;
  font-size: 0.7rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 20px;
  margin-inline: 5px;
}