.footer {
    background-color: #1a1a1a;
}

.footer__content {
    max-width: 1480px;
    margin: 0 auto;
    padding-top: 50px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin-inline: 10px;
}

@media (width < 970px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

.footer__title {
    font-size: 2.25ch;
}

.footer__section {
    display: flex;
    flex-direction: column;
}

@media (width < 970px) {
    .footer__section {
        align-items: center;
        width: 100%;
    }
}

.footer__link {
    color: #5c5c5c;
    text-decoration: none;
    transition: .3s;
}

.footer__link:hover {
    color: #a1a1a1;
}

.footer p i {
    font-size: 3ch;
    cursor: pointer;
    transition: .3s;
}

.footer p i:hover {
    color: #a1a1a1;
}

.footer__title-special {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #888888;
    width: 100%;
    margin-top: 150px;
}

@media (width < 970px) {
    .footer__title-special {
        margin-top: 75px;
    }
}

.footer__title-special h1 {
    font-size: 1.5ch;
    font-weight: 500;
    margin: 15px;
}