.header {
    width: 100%;
    height: 80px;
    background-color: #111111f6;
    backdrop-filter: blur(10px);
    position: relative;
    border-bottom: 1px solid #3c3c3c;
    transition: .3s;
    position: relative;
}

.header.fixed {
    position: fixed;
    z-index: 2;
    top: 0;
}

#header__sentinel {
    height: 80px;
    position: absolute;
    top: 80px;
    width: 100%;
    pointer-events: none;
    visibility: hidden;
}

.header__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1480px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: .3s;
    margin: 10px;
    text-decoration: none;
    color: inherit;
}

.header__logo:hover {
    color: #e2e2e2;
}

.header__logo img {
    height: 60px;
    width: auto;
}

@media (width < 711px) {
    .header__logo img {
        height: 50px;
    }
}

.header__logo span {
    text-transform: uppercase;
    text-wrap: nowrap;
    font-weight: 700;
    font-size: 2ch;
    position: relative;
}

@media (width < 247px) {
    .header__logo span {
        display: none;
    }
}

.header__logo span::before {
    content: "";
    height: 25px;
    width: 2px;
    transform: translateY(-50%);
    top: 50%;
    left: -10px;
    border-radius: 15px;
    background-color: #3c3c3c;
    position: absolute;
    border-radius: 15px;
}

.header__buttons {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 10px;
}

@media (width < 711px) {
    .header__buttons {
        gap: 10px;
    }
}

@media (width < 487px) {
    .header__buttons {
        display: none;
    }
}

.header__buttons li:nth-child(3) a {
    background-color: #3c3c3c1e;
}

.header__buttons li:nth-child(3) a:hover {
    background-color: #3c3c3c0e;
}

.header__button a {
    text-decoration: none;
    text-wrap: nowrap;
    color: inherit;
    border: 1px solid #3c3c3c;
    border-radius: 10px;
    padding: 15px 20px;
    transition: .3s;
}

@media (width < 711px) {
    .header__button a {
        padding: 15px;
    }
}

@media (width < 611px) {
    .header__button a {
        padding: 10px;
    }
}

.header__button a:hover {
    background-color: #3c3c3c1e;
    color: #e2e2e2;
}

.header__button a i {
    margin-right: 10px;
}

@media (width < 611px) {
    .header__button a i {
        display: none;
    }
}

.header__mobile {
    margin: 10px;
    display: none;
}

@media (width < 487px) {
    .header__mobile {
        display: block;
    }
}

.header__mobile-menu {
    width: 100%;
    z-index: 1;
    background-color: #111111cc;
    backdrop-filter: blur(10px);
    display: none;
    position: fixed;
    top: 80px;
    z-index: 2;
}

.header__menu-open {
    display: block;
    overflow: hidden;
}

.header__mobile button {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #3c3c3c;
    color: inherit;
    padding: 15px 20px;
    transition: .3s;
    cursor: pointer;
}

.header__mobile button:hover {
    background-color: #3c3c3c1e;
    color: #e2e2e2;
}

.mobile__buttons {
    text-align: right;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mobile__buttons li:nth-child(1) {
    border-top: 1px solid #3c3c3c;
}

.mobile__button {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #3c3c3c;
}

.mobile__button a {
    text-decoration: none;
    text-wrap: nowrap;
    color: inherit;
    text-transform: uppercase;
    margin: 10px;
    padding-block: 10px;
    transition: .3s;
}

.mobile__button a i {
    margin-left: 10px;
}